body{
	background: radial-gradient(circle at 50% 0%, #a29e92, #cbc8c3);
}

.col:nth-of-type(1) .block:nth-of-type(1){
	background-image: url("./../img/metro2/123.png");
	background-size: cover;
}

.col:nth-of-type(1) .block:nth-of-type(2){
	background: #e01e38;
}

.col:nth-of-type(1) .block:nth-of-type(2)p.quote{
	margin: 5%;
}

.col:nth-of-type(1) .block:nth-of-type(3){
	background: #329ad7;
}

.col:nth-of-type(1) .block:nth-of-type(4){
	background: #c1392b;
}

.col:nth-of-type(2) .block:nth-of-type(2){
	background: #296bcc;
}

.col:nth-of-type(2) .block:nth-of-type(3){
	background: #1ba0e1;
}

.col:nth-of-type(3) .block:nth-of-type(1){
	background: #f39c11;
}

.col:nth-of-type(3) .block:nth-of-type(2){
	background: #16a086;
}

.col:nth-of-type(3) .block:nth-of-type(3){
	background: #8d44ad;
}

.col:nth-of-type(3) .block:nth-of-type(4){
	background: #ad193d;
}

.col:nth-of-type(3) .block:nth-of-type(5){
	background: #273c67;
}


/* послежний блок 3-й колонки */

.col:nth-of-type(3) .block:nth-of-type(5)p {
	padding-top: 5%;
	padding-left: 5%;
}

.logo{
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	display: inline;
}

.icon_logo{
	float: left;
}

.name_company{
	font-family: 'Arial', sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #ffffff;
	margin-left: 40px;
}

.slogan_info{
	font-family: 'Arial', sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #ffffff;

}

.slogan_info span{
	float: right;
	font-weight: normal;
	padding-right: 10px;
	padding-top: 10px;
}
.mail{
	font-family: 'Arial', sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #ffffff;
}

.text_normal{
	font-family: 'Arial', sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #ffffff;
	margin-top: 8px;
}

.link a{
	font-family: 'Arial', sans-serif;
	font-size: 9pt;
	font-weight: bold;
	color: #8bb2db;
	text-decoration: none;
}


.text_think{
	font-family: 'Arial', sans-serif;
	font-size: 9pt;
	font-weight: normal;
	color: #ffffff;

}