body{
	background-image: url("./../img/metro5/background.jpg");

}

.text2{
	font-family: 'Arial', sans-serif;
	font-size: 13pt;
	color: #ffffff;
	margin-left: 15px;
	position: relative;
	top: 0.9em;
	height: 30%;
}

.text3{
	font-family: 'Arial', sans-serif;
	font-size: 13pt;
	color: #ffffff;
	margin-left: 15px;
	position: relative;
	top: 0.2em;
	height: 30%;
}

.colon{
	width: 20%;
	float: left;
	/*border: 1px solid red;*/
}

.colon-width{
	width: 32%;
	float: left;
	/*border: 1px solid black;*/
}

.one-of-third{
	width: 33%;
}

.two-of-third{
	width: 66%;
}

.colon:nth-of-type(2),
.colon-width{
	margin-left: 1%;
	margin-right: 1%;
}

.colon:nth-of-type(1) .block{
	background-size: cover;
}

.colon:nth-of-type(1) .block:nth-of-type(1){
	background: #1bb194;
	/*background-image: url("./../img/metro5/buy_template.png");
	background-position: center;
	background-repeat: no-repeat;*/

}

.colon:nth-of-type(1) .block:nth-of-type(2){
	background: #dd6a11;
	background-image: url("./../img/metro5/about.png");
	background-position: center;
	background-repeat: no-repeat;
}

.colon:nth-of-type(1) .block:nth-of-type(3){
	background: #2e8cca;
	background-image: url("./../img/metro5/portfolio.png");
	background-position: center;
	background-repeat: no-repeat;
}

.colon:nth-of-type(1) .block:nth-of-type(4){
	background: #954fb2;
	background-image: url("./../img/metro5/contact.png");
	background-position: center;
	background-repeat: no-repeat;
}


.colon-width .block:nth-of-type(1){
	background: #2abc69;
	background-image: url("./../img/metro5/features.png");
	background-position: center;
	background-repeat: no-repeat;
}

.colon-width .block:nth-of-type(2){

}

.colon-width .block:nth-of-type(3){
	background: #278ed3;
	background-image: url("./../img/metro5/our_service.png");
	background-position: center;
	background-repeat: no-repeat;
}

.colon-width .block:nth-of-type(4){
	background: #14af8f;
	background-image: url("./../img/metro5/blog.png");
	background-position: center;
	background-repeat: no-repeat;
}

.colon-width .block:nth-of-type(5){

}

.colon-width .block:nth-of-type(6){
	background: #314357;
}

.colon-width .block:nth-of-type(6)h4{
	color: #ffffff;
}

.colon-width .block:nth-of-type(6).footer span{
	color: #ffffff;
	font-size: 10pt;
	font-family: 'Arial', sans-serif;
}

.colon:nth-of-type(2) .block:nth-of-type(1){
	/*background-image: url("./../img/metro5/windows.png");
	background-position: center center;
	background-repeat: no-repeat;*/
	border: 1px ridge rgba(255, 255, 255, 0.2);
}

.colon:nth-of-type(2) .block:nth-of-type(2){
/*	background-image: url("./../img/metro5/photography.png");
	background-position: center;
	background-repeat: no-repeat; */
}

.colon:nth-of-type(2) .block:nth-of-type(3){
	/*background-image: url("./../img/metro5/design.png");
	background-position: center;
	background-repeat: no-repeat;*/
}

.colon:nth-of-type(2) .block:nth-of-type(4){
/*	background-image: url("./../img/metro5/motion.png");
	background-position: center;
	background-repeat: no-repeat; */
}

.colon:nth-of-type(2) .block{
	border: 1px ridge #ffffff;
}


.colon:nth-of-type(3) .block:nth-of-type(1){

}
