body{
	padding: 2%;

	background: #06162f; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #06162f 0%, #baaddb 0%, #4553ac 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#06162f), color-stop(0%,#baaddb), color-stop(100%,#4553ac)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #06162f 0%,#baaddb 0%,#4553ac 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #06162f 0%,#baaddb 0%,#4553ac 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #06162f 0%,#baaddb 0%,#4553ac 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #06162f 0%,#baaddb 0%,#4553ac 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06162f', endColorstr='#4553ac',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

/* Блоки внутри колонок */
.col:nth-of-type(1) .block:nth-of-type(1){
	background: #00be02;
	background-image: url("./../img/metro1/about.png");
	background-position: center;
	background-repeat: no-repeat;
}

.col:nth-of-type(1) .block:nth-of-type(1) p{
	/*padding: auto;*/
}

.col:nth-of-type(1) .block:nth-of-type(2){
	background: #8023e3;
	background-image: url("./../img/metro1/team.png");
	background-position: center;
	background-repeat: no-repeat;
}

.col:nth-of-type(1) .block:nth-of-type(2)p{
	/*padding: auto;*/
}

.col:nth-of-type(1) .block:nth-of-type(3){
	width: 100%;
	background: #008bbe;
}

.col:nth-of-type(1) .block:nth-of-type(3)p.quote{
	padding: 2%;
}

.col:nth-of-type(1) .block:nth-of-type(3)p sub{/*Серьезно? Для каждого блока свой стиль?*/
	float: right;
}

.col:nth-of-type(2) .block:nth-of-type(1){
	background: #0d1e88;
	background-image: url("./../img/metro1/contact.png");
	background-position: center;
	background-repeat: no-repeat;
}

.col:nth-of-type(2) .block:nth-of-type(1)p{

}

.col:nth-of-type(2) .block:nth-of-type(2){
	background: #019add;
	background-image: url("./../img/metro1/contact.png");
	background-position: center;
	background-repeat: no-repeat;
}

.col:nth-of-type(3) .block:nth-of-type(1){
	background: #8223e3;
}

.col:nth-of-type(3) .block:nth-of-type(1)p.text1{
	font-family: 'Arial', sans-serif;
	font-size: 13pt;
	color: #ffffff;
	margin-left: 15px;
	position: relative;
	top: 5em;
	height: 30%;
}

.col:nth-of-type(3) .block:nth-of-type(2){
	background: #ad193d;
	background-image: url("./../img/metro1/portfolio.png");
	background-position: center;
	background-repeat: no-repeat;
}

.col:nth-of-type(3) .block:nth-of-type(3){
	background: #fbca03;
	background-image: url("./../img/metro1/contact.png");
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 0;
	float: right;
}

.col:nth-of-type(3) .block:nth-of-type(4){
	background: #f26e02;
	background-image: url("./../img/metro1/blog.png");
	background-position: center;
	background-repeat: no-repeat;
}

.col:nth-of-type(3) .block:nth-of-type(5){
	background: #d700e2;
	background-image: url("./../img/metro1/shop.png");
	background-position: center;
	background-repeat: no-repeat;
	margin-right: 0;
	float: right;
}
/* Блоки внутри колонок */

.slogan{
	font-family: 'Arial', sans-serif;
	font-size: 11pt;
	color: #ffd4e9;
	padding-top: 5%;
	padding-left: 12%;
	position: relative;
	background-repeat: no-repeat;
}

.text1{
	font-family: 'Arial', sans-serif;
	font-size: 13pt;
	color: #ffffff;
	margin-left: 15px;
	position: relative;
	top: 5em;
	height: 30%;
}